@font-face {
  font-family: "Roboto";
  src:
    url(/font/Roboto-VariableFont_wdth\,wght.ttf),
    url(/font/Roboto-Italic-VariableFont_wdth\,wght.ttf)
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
}
html {
  height: 100%;
  
}
body {
  height: 100%;
}
ul {
  list-style: none;
}
li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 5px;
  padding: 10px 25px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:repeat(5, 1fr);
}
.sidebar {
  padding: 10px;
  background-color: #1992d4;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2em;
  grid-row: 1/6;
  min-height: 100vh;
}
li > svg {
  fill: #ffffff;
  width: 1em;
  justify-self: center;
}
svg {
  width: 2em;
}
#logo {
  width: 2em;
}
nav{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-row: 1/2;
  padding:20px;
  gap:2em;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  position: relative;
}
#search{
  grid-column: 2fr;
  display:flex;
  gap:1em;
}
#notify{
  grid-column:1fr;
  display:flex;
  gap:2em;
  justify-content: flex-end;
  align-items: center;
}
#notify>img{
  width:50px;
  height:50px;
}
input {
  background-color: #e2e8f0;
  border: none;
  border-color: transparent;
  border-radius: 25px;
  width:100%;
}
#name{
  display:flex;
  flex-direction: row;
  gap:1em;
  align-items: center;
}
#name>img{
  width:4em;
  height:4em;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:2em;
}
button{
  background-color: #1992d4;
  color:#e2e8f0;
  border:none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
}
main{
  background-color: #e2e8f0;
  grid-row: 2/6;
  display:grid;
  grid-template-columns: 5fr 2fr;
}
.projects{
  /* grid-column:1/6; */
  padding:20px;
}

#display{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap:1em;
}

.project{
  background-color: #FFFFFF;
  border-left: 5px solid #F0B429;
  border-radius: 5px;
  padding:15px;
  display:flex;
  flex-direction: column;
  gap:5px;
}
.icons{
  display: flex;
  flex-direction:row;
  align-self: flex-end;
  justify-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end; 
  margin-top:auto;
  gap:15px;
}
.notice{
  padding:20px;
}
#announcements{
  padding:20px;
  background-color: #FFFFFF;
  display:flex;
  flex-direction: column;
  gap:10px;
  border-radius: 5px;
}
#announcements>div{
  display:flex;
  flex-direction: column;
  gap: 5px;
}

#trending{
  display:flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.user{
  display:flex;
  align-items: center;
  gap:10px;
}
.user>img{
  width:50px;
  height:50px;
}